#login_card {
    .card-body {
        padding: 40px;
    }
    
    .card-footer {
        padding: 20px 40px;
    }

    .form-group {
        margin-top: 25px;
    }

    a {
        float: right;
    }
}